.dashboardContainer{
  background-color: black;
}
.vaccinContainer{
  display:flex;
  margin-left:10vh;
  padding-top:20px;

}
.CowinLogo{
  height:4vh;
  width:2vw;
 
}
.logoText{
  font-size:15px;
  margin-left: 10px;
  color: #a3df9f
}
.headingCowin{
  font-size: 20px;
  color:#ffffff;
  margin-left:10vh;

}
.loader{
display:flex;
justify-content: center;
height:100vh;
width: 100vw;
color:white;
align-items: center
}
